@import "tailwindcss";

@plugin "@tailwindcss/typography";


@theme {
  --font-lexend: var(--font-lexend);

  --color-laranja-1-escuro: #805300;
  --color-laranja-2-principal: #FFA500;
  --color-laranja-3: #FFDB99;
  --color-laranja-4-claro: #FFF6E5;
  --color-vermelho-1-escuro: #B20000;
  --color-vermelho-2-principal: #FF0000;
  --color-vermelho-3: #FF9999;
  --color-vermelho-4-claro: #FFE5E5;
  --color-azul-1-escuro: #000099;
  --color-azul-2-principal: #0000FF;
  --color-azul-3: #9999FF;
  --color-azul-4-claro: #E5E5FF;
  --color-verde-1-escuro: #008000;
  --color-verde-2-principal: #00FF00;
  --color-verde-3: #B2FFB2;
  --color-verde-4-claro: #E5FFE5;
  --color-amarelo-1-escuro: #B2B200;
  --color-amarelo-2-principal: #FFFF00;
  --color-amarelo-3: #FFFFB2;
  --color-amarelo-4-claro: #FFFFE5;
  --color-branco-1-escuro: #343434;
  --color-branco-2: #D9D9D9;
  --color-branco-3: #F2F2F2;
  --color-branco-4-claro-principal: #FFFFFF;

  --breakpoint-*: initial;
  --breakpoint-xs: 26.25rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --breakpoint-3xl: 121rem;

  --text-*: initial;
  --text-xs: .5625rem;
  --text-sm: .6875rem;
  --text-base: .8125rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2rem;
}

*{
  box-sizing: border-box
}

.estrutura-container {
  @apply w-full mx-auto max-w-[75rem];
}
.estrutura-padding {
  @apply max-lg:px-5 lg:max-2xl:px-10;
}

.link{
  @apply decoration-solid break-all underline decoration-1;
}

/*
  TIPOGRAFIA
*/
.tipo-titulo1 {
  @apply max-xl:text-[2.5rem] xl:text-[3.125rem] font-extrabold leading-none;
}
.tipo-titulo2 {
  @apply max-xl:text-3xl xl:text-[2.5rem] font-bold leading-none;
}
.tipo-titulo3 {
  @apply max-xl:text-2xl xl:text-3xl font-bold leading-none;
}
.tipo-titulo4 {
  @apply max-xl:text-lg xl:text-xl font-bold leading-none;
}
.tipo-subtitulo {
  @apply text-lg max-xl:font-extralight max-xl:leading-none xl:font-light xl:leading-[1.1];
}
.tipo-etiqueta {
  @apply text-base font-extralight leading-[1.1];
}
.tipo-label {
  @apply font-medium leading-[1.1];
}
.tipo-paragrafo {
  @apply md:text-base;
}
.tipo-rodape {
  @apply text-sm leading-[1.1] font-light;
}
.tipo-enfase {
  @apply text-md font-semibold leading-[1.1];
}
.tipo-irrelevante {
  @apply text-xs font-light leading-[1.1];
}

.shimmer {
  @apply overflow-hidden relative before:content-[''] before:bg-[linear-gradient(90deg,rgba(255,255,255,0)_0%,rgba(255,255,255,0.8)_40%,rgba(255,255,255,0)_100%)] before:absolute before:h-full before:w-full before:z-50 before:animate-[shimmer_1.5s_infinite];
}

/* animações */
@keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }