@import "tailwindcss";
@import "tw-animate-css";
/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

@plugin "@tailwindcss/typography";

@theme {
  --font-lexend: var(--font-lexend);

  --color-laranja-1-escuro: #805300;
  --color-laranja-2-principal: #FFA500;
  --color-laranja-3: #FFDB99;
  --color-laranja-4-claro: #FFF6E5;
  --color-vermelho-1-escuro: #B20000;
  --color-vermelho-2-principal: #FF0000;
  --color-vermelho-3: #FF9999;
  --color-vermelho-4-claro: #FFE5E5;
  --color-azul-1-escuro: #000099;
  --color-azul-2-principal: #0000FF;
  --color-azul-3: #9999FF;
  --color-azul-4-claro: #E5E5FF;
  --color-verde-1-escuro: #008000;
  --color-verde-2-principal: #00FF00;
  --color-verde-3: #B2FFB2;
  --color-verde-4-claro: #E5FFE5;
  --color-amarelo-1-escuro: #B2B200;
  --color-amarelo-2-principal: #FFFF00;
  --color-amarelo-3: #FFFFB2;
  --color-amarelo-4-claro: #FFFFE5;
  --color-branco-1-escuro: #343434;
  --color-branco-2: #D9D9D9;
  --color-branco-3: #F2F2F2;
  --color-branco-4-claro-principal: #FFFFFF;

  --breakpoint-*: initial;
  --breakpoint-xs: 26.25rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --breakpoint-3xl: 121rem;

  --text-*: initial;
  --text-xs: .5625rem;
  --text-sm: .6875rem;
  --text-base: .8125rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2rem;
}

*{
  box-sizing: border-box
}

.estrutura-container {
  @apply w-full mx-auto max-w-[75rem];
}
.estrutura-padding {
  @apply max-lg:px-5 lg:max-3xl:px-10;
}

.link{
  @apply decoration-solid break-all underline decoration-1;
}

/*
  TIPOGRAFIA
*/
.tipo-titulo1 {
  @apply max-xl:text-[2.5rem] xl:text-[3.125rem] font-extrabold leading-none;
}
.tipo-titulo2 {
  @apply max-xl:text-3xl xl:text-[2.5rem] font-bold leading-none;
}
.tipo-titulo3 {
  @apply max-xl:text-2xl xl:text-3xl font-bold leading-none;
}
.tipo-titulo4 {
  @apply max-xl:text-lg xl:text-xl font-bold leading-none;
}
.tipo-subtitulo {
  @apply text-lg max-xl:font-extralight max-xl:leading-none xl:font-light xl:leading-[1.1];
}
.tipo-etiqueta {
  @apply text-base font-extralight leading-[1.1];
}
.tipo-label {
  @apply font-medium leading-[1.1];
}
.tipo-paragrafo {
  @apply md:text-base;
}
.tipo-rodape {
  @apply text-sm leading-[1.1] font-light;
}
.tipo-enfase {
  @apply text-md font-semibold leading-[1.1];
}
.tipo-irrelevante {
  @apply text-xs font-light leading-[1.1];
}

/* componentes */

.lsg-input-text{
  @apply w-full px-[10px] py-[12px] bg-verde-4-claro focus-visible:bg-verde-3 rounded-lg focus-visible:outline-verde-2-principal  placeholder:text-black/50;
}
.lsg-botao{
  @apply font-bold flex gap-2 hover:lsg-grow cursor-pointer items-center  justify-center text-branco-4-claro-principal px-5 py-[10px] rounded-[10px] bg-vermelho-2-principal max-sm:w-full min-w-[150px];
}

.lsg-botao--login{
  @apply font-bold flex gap-2 hover:lsg-grow cursor-pointer items-center justify-center text-branco-1-escuro px-5 py-[10px] rounded-[10px] bg-verde-2-principal min-w-[150px] max-w-[200px];
}
.lsg-botao--feature{
  @apply font-bold flex gap-2 hover:lsg-grow cursor-pointer items-center justify-center text-branco-1-escuro px-5 py-[10px] rounded-[10px] bg-verde-3 min-w-[150px];
}
.lsg-botao-action{
  @apply font-bold flex gap-2 hover:lsg-grow cursor-pointer items-center justify-center text-branco-1-escuro px-5 py-[10px] rounded-[10px] border-verde-3 border-2 min-w-[150px];
}
.lsg-botao-action--small{
  @apply text-sm font-bold flex gap-2 hover:lsg-grow cursor-pointer items-center justify-center text-branco-1-escuro px-2 py-[10px] rounded-[10px] border-verde-3 border-2 min-w-[150px];
}
.lsg-botao-action--negativa{
  @apply font-bold flex gap-2 hover:lsg-grow cursor-pointer items-center  justify-center px-5 py-[10px] rounded-[10px] border-vermelho-2-principal border-2 max-sm:w-full min-w-[150px];
}
.lsg-botao-action--negativa-small{
  @apply text-sm text-branco-1-escuro font-bold flex gap-2 hover:lsg-grow cursor-pointer items-center  justify-center px-2 py-[10px] rounded-[10px] border-vermelho-2-principal border-2 max-sm:w-full min-w-[100px];
}
.lsg-botao--logout{
  @apply font-bold flex gap-2 hover:lsg-grow cursor-pointer items-center justify-center text-branco-1-escuro px-5 py-[10px] rounded-[10px] bg-vermelho-4-claro min-w-[150px];
}
.lsg-botao--desativado{
  @apply font-bold flex gap-2 justify-center items-center text-branco-4-claro-principal px-5 py-[10px] rounded-[10px] bg-vermelho-3 max-sm:w-full min-w-[150px];
}
.lsg-botao--desativado-verde{
  @apply font-bold flex gap-2 justify-center items-center text-branco-4-claro-principal px-5 py-[10px] rounded-[10px] bg-verde-3 max-sm:w-full min-w-[150px];
}

/* gradientes */
@utility lsg-gradiente-azul{
  @apply bg-linear-[90deg,#0000FF_0%,#0000CC_22%,#0000B3_46%,#0000A6_69%,#000099_100%]
}
@utility lsg-grow {
  transition: transform 0.4s ease-in-out;
  @apply hover:scale-[1.05] transition-all duration-500;
}

/* animações */
.shimmer {
  @apply overflow-hidden relative before:content-[''] before:bg-[linear-gradient(90deg,rgba(255,255,255,0)_0%,rgba(255,255,255,0.8)_40%,rgba(255,255,255,0)_100%)] before:absolute before:h-full before:w-full before:z-50 before:animate-[shimmer_1.5s_infinite];
}

@keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  ::backdrop{
    /* background-color: black; */
    /* opacity: 0.5; */
    backdrop-filter: blur(10px);
  }

  dialog:modal {
  max-width: 100vw;
  max-height: 100vh;
}

  /*
  ---break---
*/

  @theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

  /*
  ---break---
*/

  :root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

  /*
  ---break---
*/

  .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

  /*
  ---break---
*/

  @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}